@charset "UTF-8";

body {
    background: #d0e0e8 url('../images/background.png') repeat-x bottom;
    color: #fff;
    font-family: arial, helvetica;
    font-size: 14px;
}

p, h1 {
    margin: 10px 40px;
}

a {
    color: #e45c10;
    font-size: 45px;
    text-decoration: none;
}

h1 {
    font-weight: bold;
	color: #e45c10;
	font-size: 45px;
}

#content {
    width: 596px;
    margin: 30px auto;
}

#game {
    width: 700px;
    margin: 0 auto;
}

.brownBgImage{
    background-image:url('../images/background_middle.png');
    background-repeat: repeat-y;
}

.back {
    position: absolute;
    top: 10px;
    left: 10px;
}

.play {
    position: absolute;
    top: 10px;
    right: 10px;
	text-align: right;
}
